.cover-image {
  height: 100vh;
  background-image: url("20250625_115501.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 20px;
  pointer-events: none;
}
.cover-image h1 {
  font-size: 3em;
  margin: 0;
}
.cover-image h2 {
  font-size: 2em;
  margin: 0;
}
.cover-image a.btn {
  font-size: 1.2em;
  padding: 0.5em 1em;
}